@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some default styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#userInput {
  height: 100vh; /* Make the input take the full height of the viewport */
  width: 100vw; /* Make the input take the full width of the viewport */
  padding: 0; /* Remove padding */
  border: none; /* Remove border */
  font-size: 1.5rem; /* Adjust font size as needed */
  color: red; /* Adjust text color as needed */
}

/* Remove the input field's outline on focus for a cleaner look */
#userInput:focus {
  outline: none;
}

#ollamaOutput {
  color: rgba(255, 255, 255, 0.796);
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  max-height: 2px;
  max-width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(99 102 241);
  border-radius: 20px;
}
