@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#userInput:focus {
  outline: none;
}

#ollamaOutput {
  color: rgba(255, 255, 255, 0.796);
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  max-height: 2px;
  max-width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(99 102 241);
  border-radius: 20px;
}

#header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

form,
input {
  -webkit-app-region: no-drag;
}

#userInput:focus {
  outline: none;
}

#ollamaOutput {
  color: white;
  overflow-y: auto;
}

#buttonSettings {
  -webkit-app-region: no-drag;
}

#head {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: plum;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: rgb(187, 72, 187);
}
